page {
  background-color: #f0f2f5;
}

.bgimg_top_box {

  width: 750rpx;
  height: 600rpx;
  position: relative;
  .header{
    position: absolute;
    width: 100%;
    top: 97rpx;
    // bottom: 420rpx;
    
    // top: 10%;
    z-index: 999;
    // height: 12px;
    // background-color: red;
    display: flex;
    justify-content: space-between;

    padding: 12rpx 32rpx;
    &::after{
      content: "";
      width: 107rpx;
      height: 33rpx;
    }
    image{
      width: 50rpx;
      height: 50rpx;
    }
    .my_text{
      color: #fff;
      font-size: 32rpx;
    }
  }
  .bgimg_top {
    width: 750rpx;
    height: 600rpx;
  }



  .mycontent {
    position: absolute;
    top: 240rpx;
    display: flex;
    padding-left: 50rpx;

    .culpture {
      image {
        width: 90rpx;
        height: 90rpx;
      }
    }

    .mycontent_text {
      margin-left: 40rpx;
      color: #fff;

      .name {
        font-size: 32rpx;
        margin-bottom: 18rpx;
        font-weight: 600;
      }

      .name {
        font-size: 26rpx;
        font-weight: 400;
      }
    }
  }

  .youhui_box {
    width: 694rpx;
    height: 224rpx;
    position: absolute;
    bottom: 0px;
    left: 28rpx;

    image {
      width: 694rpx;
      height: 224rpx;
    }

    .youhui_box_text {
      position: relative;

      .youhui_box_text_contenet {
        position: absolute;
        // background-color: red;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        color: #fff;
        padding: 36rpx 32rpx;

        .above {
          display: flex;
          justify-content: space-between;

          .youhui_box_text_contenet_right {
            display: flex;
            align-items: center;
          }

          image {
            width: 32rpx;
            height: 32rpx;
          }
        }
        .fenge{
          width: 622rpx;
          height: 1rpx;
          background-color: #ddd;
          border-radius: 10rpx;
          opacity: 0.5;

          margin-top: 10rpx;
        }
        .under {
          margin-top: 10rpx;
          display: flex;
          justify-content: space-between;
          // background-color: red;
          padding: 0px 60rpx;

          .under_img_box {

            width: 80rpx;
            height: 118rpx;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: red;

          }

          image {
            width: 56rpx;
            height: 56rpx;

            margin-bottom: 18rpx;
          }

          .project_text {
            font-size: 24rpx;
            font-weight: 400;


          }

        }
      }
    }
  }
}

.bgimg_bottom_box {
  padding: 18rpx 28rpx;
  .bgimg_bottom_above {
    background-color: #fff;
    border-radius: 10rpx;
    margin-top: 20rpx;

    .bgimg_bottom_above_abovr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20rpx 10px;

      image {
        width: 32rpx;
        height: 32rpx;
      }

      .project_name {
        margin-left: 20rpx;
      }

      .bgimg_bottom_above_abovr_left {
        display: flex;
        align-items: center;
        font-size: 28rpx;
        font-weight: 400;
      }
    }
  }
}